<!-- File Name: contentContactMe.ejs
Author: Manav Patel
Description: This .ejs file contains the CONTENT of the page CONTACT ME  -->

<title>Contact Me</title>
<div class="container">
    <p></p>
    <br>
    <h2 style="color: brown;"><i class="fas fa-user-circle"></i> Contact Me </h2>
    <p></p>
    <div class="w3-container">
        <h2>Contact Me</h2>
        <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
          <p>Name          : Manav Patel</p>
          <p>Mail          : mpate765@my.centennialcollege.ca</p>
          <p>Phone number  : 416-986-0655</p>
          <p>Linkdin       : <a href="https://www.linkedin.com/in/manav-patel-25326520a/" class="btn btn-dark" role="button">Follow here</a></p>
        </div>
        <hr>
    </div><br>
    <h1>Send your Info to me by filling the form</h1>
    <form action="mailto:gemgaming4251@gmail.com" method="POST">
        <div class="form-group">
          <label for="fName">First Name:</label>
          <input type="text" class="form-control" placeholder="Cliff" id="fName">
        </div>
        <br>
        <div class="form-group">
          <label for="lName">Last Name:</label>
          <input type="text" class="form-control" placeholder="Rogers" id="lName">
        </div>
        <br>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email">
        </div>
        <br>
        <div class="form-group">
          <label for="contact">Phone Number:</label>
          <input type="number" class="form-control" placeholder="123-456-1234" id="contact">
        </div>
        <br>
        <div class="form-group">
          <label for="extra">Extra Details:</label><br>
          <textarea name="extra" placeholder="Extra Details" maxlength="140" rows="13" cols="60"></textarea><br><br>
        </div>
        
<p>Your information will be sent to me via Email.</p>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>

      </form>

</div>