<!-- File Name: contentServices.ejs
Author: Manav Patel
Description: This .ejs file contains the CONTENT of the page SERVICES  -->

<title>Services</title>
<div class="container">
    <p></p>
    <br>
    <h2 style="color: brown;"><i class="fas fa-cogs"></i> Services </h2>
    <p></p><br><br>
    <h2><b>Services Offered.</b></h2>
    <br>
    <ul style="font-size: 30px;">
        <li>General Programming using C, C++, C#, Python, Java, Java Script.</li><br>
        <img src="/images/programming.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="500" height="370"><br><br>
        <li>Web Developement.</li>
        <img src="/images/webdeveloper.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><br><br>
        <li>Application Developement</li><br>
        <img src="/images/appdev.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500">
    </ul>

    <a href="/" class="btn btn-dark" role="button"><i class="fas fa-home"></i> Home Page</a>
    <a href="/about" class="btn btn-dark" role="button"><i class="fas fa-info-circle"></i>About Page</a>
    <a href="/project" class="btn btn-dark" role="button"><i class="fas fa-tasks"></i> Project Page</a>
    <a href="/contact-me" class="btn btn-dark" role="button"><i class="fas fa-user-circle"></i> Contact Me Page</a><br><br>
    <a href="/services" class="btn btn-dark" role="button"><i class="fas fa-arrow-up"></i> Go to the top </a>
</div>