<!-- File Name: contentProject.ejs
Author: Manav Patel
Description: This .ejs file contains the CONTENT of the page PROJECT  -->


<div class="container">
    <br><br>
    <h2 style="color: brown;"><i class="fas fa-tasks"></i> Projects </h2><br> 
    <p></p>
    <br>
    <h1><b>Overview of Projects I've worked on before.</b></h1><br>
    <hr>
    <p style="font-size: 25px;">1. I had worked on making a game mainly using Java Script. The game was mainly was to kill the bug by clicking on it.  
        The bug would keep running on the canvas. The speed of the bug would increase if the player reaches a certain point
        mark. The player could also reset the speed if the player finds the default speed to be challenging.
    </p>
    <img src="/images/project1.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500">
    <hr>
    <p style="font-size: 25px;">2. The second project I had worked on was a BMR calculator. The application takes all the information like the age of
        the person, height of the person, weight of the person and the activity lever of the person. There were two types of
        calculator in that application, one would calculate the BMR ratio in Metric Units and the other one would calculate
        the BMR in Imperial Units.
    </p>
    <img src="/images/project21.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><br><br>
    <img src="/images/project22.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><br><br>
    <img src="/images/project23.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><hr>
    <p style="font-size: 25px;">3. The third project I had worked on was a Photo Gallery. A photo gallery where you can view different pictures and you
        can add some to favourites. You can also remove photos that you had previously added as Favourites. The photos in the 
        gallery would keep changing if left on. There were two views available for the photos, one showing more photos at a time
        and the second showing less photos at a time.
    </p>
    <img src="/images/project31.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><br><br>
    <img src="/images/project32.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><br><br>
    <img src="/images/project33.jpg" style="align-content: flex-end;" class="rounded" alt="My Picture" width="800" height="500"><hr>
    
    <a href="/" class="btn btn-dark" role="button"><i class="fas fa-home"></i> Home Page</a>
    <a href="/about" class="btn btn-dark" role="button"><i class="fas fa-info-circle"></i>About Page</a>
    <a href="/services" class="btn btn-dark" role="button"><i class="fas fa-cogs"></i> Services Page</a>
    <a href="/contact-me" class="btn btn-dark" role="button"><i class="fas fa-user-circle"></i> Contact Me Page</a><br><br>
    <a href="/project" class="btn btn-dark" role="button"><i class="fas fa-arrow-up"></i> Go to the top </a>
    

</div>