<!-- File Name: contentAbout.ejs
Author: Manav Patel
Description: This .ejs file contains the CONTENT of the page ABOUT ME  -->

<title>About</title>
<div class="container">
    <p></p>
    <br>
    <h2 style="color: brown;"><i class="fas fa-info-circle"></i> About </h2>
    <br>
    <div class="card" style="width: 18rem;">
      <img src="/images/Photograph.jpg" class="card-img-top" alt="..." width="160" height="270">
      <div class="card-body" style="background-color: hsl(23, 25%, 46%); color: black;">
        <p class="card-text"> Name: Manav Patel</p>
        <p class="card-text"> Age: 18</p>
        <p class="card-text"> Student Number: 301147682</p>
      </div>
    </div>
  <br><br>
  <h2><b>About Me:</b></h2>
  <p style="font-size: x-large;">My name is Manav Patel. I am an Indian Citizen but I used to live in Dubai before coming to Canada.
    <br>I am currently a student studying in Centennial college. I am studying Artificial Intelligence and I am<br>
     currently in my 3rd Semester. I also have attached my resume below. I have previously worked with<br>
      C,C++,C#,Python,Java,Html,CSS,Java Script,Node JS,Express. </p>  <br><br>
    <a href="/files/Manav Patel Resume.pdf" class="btn btn-dark" role="button"><i class="far fa-file"></i> My Resume</a><br><br>
    <br><br><br><br>
    <a href="/" class="btn btn-dark" role="button"><i class="fas fa-home"></i> Home Page</a>
    <a href="/project" class="btn btn-dark" role="button"><i class="fas fa-tasks"></i> Project Page</a>
    <a href="/services" class="btn btn-dark" role="button"><i class="fas fa-cogs"></i> Services Page</a>
    <a href="/contact-me" class="btn btn-dark" role="button"><i class="fas fa-user-circle"></i> Contact Me Page</a>

</div>
<br><br><br><br>