<!-- File Name: contentHome.ejs
Author: Manav Patel
Description: This .ejs file contains the CONTENT of the page HOME  -->


<div class="container">
    <p></p>
    <br>
    <h2 style="color: brown;"><i class="fas fa-home"></i> Home </h2>
    <p></p>
    <img src="/images/logo.jpg" style="align-content: flex-end;" class="rounded" alt="logo" width="240" height="170">
    <h1><u><b>Welcome Message</b></u></h1>
    <p style="font-size:x-large;"> Hey people, welcome to my page.</p>
    <p></p>
    <br>
    <hr>
    <h1><u><b>Mission Statement</b></u></h1>
    <p style="font-size: x-large;">My main goal in life is, to get a decent job in software industry and spend my life doing something I like.</p>
    <p style="font-size: x-large;">I also want to earn enough to take care of my parents.</p>
    <p></p>
    <hr>
    <br><br><br><br><br><br>
    <a href="/about" class="btn btn-dark" role="button"><i class="fas fa-info-circle"></i> About Page</a>
    <a href="/project" class="btn btn-dark" role="button"><i class="fas fa-tasks"></i> Project Page</a>
    <a href="/services" class="btn btn-dark" role="button"><i class="fas fa-cogs"></i> Services Page</a>
    <a href="/contact-me" class="btn btn-dark" role="button"><i class="fas fa-user-circle"></i> Contact Me Page</a>
</div>
<br><br><br><br>