  <!-- File Name: footer.ejs
Author: Manav Patel
Description: This .ejs file contains the SCRIPT of footers for all pages made.  -->
  
  <!-- Scripts -->
  <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <footer>
      <p></p>
    <p style="color: black; height: 50px;">&copy; Manav Patel&#8212;Student ID:301147682&#8212;Course: Web Application Developement (SEC. 008)&#8212;Semester:3 </p>
  </footer>
</body>
</html>