  <!-- File Name: header.ejs
Author: Manav Patel
Description: This .ejs file contains the SCRIPT of headers for all pages made.  -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
</head>
<body style="background-color: #F8D2BB;">
  
    <!-- Navigation Bar -->
    <div class="fixed-top">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/logo.jpg" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/project"><i class="fas fa-tasks"></i> Project </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-me"><i class="fas fa-user-circle"></i> Contact Me </a>
      </li>            
      <li class="nav-item dropdown">
        <% if (title == "Inventory List" || title == "Add a new Item") { %>
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-server"></i> Inventory</a>
        <% } else { %>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventory</a>
        <% } %>       
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/inventory/list"><i class="fas fa-list"></i> Inventory List</a></li>
          <li><a class="dropdown-item" href="/inventory/add"><i class="far fa-plus-square"></i> Add a new Item</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <% if (title == "Contact List" || title == "Add a new contact") { %>
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-server"></i> Bussiness Contact</a>
        <% } else { %>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Contact List</a>
        <% } %>       
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/contact/list"><i class="fas fa-list"></i> Contact List</a></li>
          <li><a class="dropdown-item" href="/contact/add"><i class="far fa-plus-square"></i> Add a new contact</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <% if(typeof userName == 'string' && userName){%>
        <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')">Sign Out(<%= userName %>)</a>
        <% } else {%>
        <a class="nav-link" href="/users/signin">Signin</a>
        <% } %>
      </li>
    </ul>
  </nav>
  </div><br>